body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-block-end: 20px;
    color: #483E8A;
    position: relative;
}

.name{
    margin-top: 0px;
    margin-block-end: 0px;
    font-size: 6vw;
    font-weight: 900;
    letter-spacing: 10px;
}

.mutq{
    font-size: 1.5vw;
    font-weight: 600;
    position: absolute;
    left: 65vw;
    top: 5.2vw;
}

.change{
    display: flex;
    width: 22vw;
    border: 1px solid red;
    position: absolute;
}

.language{
    font-weight: normal;
    font-size: 1vw;
    position: absolute;
    left: 15vw;
    top: 0.52vw;
}

.language::before{
    content: ""; 
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-top: 0.5vw solid #392E80;
    position: relative;
    top: 0.8vw; 
}

nav{
    width: 100%;
    padding-top: 1.6vw ;
    padding-block-end: 1.6vw;
    background-color: #D5D5EB;
}

.menu{
    display: none;

}

ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.4vw;
    font-weight: bold;
    color: #392E80E6;
}

.picture1{
    width: 100%;
    height: 35vw;
    background-image: url(img/background.png);
    background-size: 100% ;
    margin-block-end: 7vw;
}

.tree{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.form{
    width: 15vw;
    height: 16vw;
}

.video{
    margin-left: 15vw;
    color: #392E80E8;
    font-weight: bold;
    font-size: 1.5vw;
}

.videocall{
    width: 80vw;
    height: 34vw;
    margin: 0 auto;
    margin-top: 2vw;
    background-image: url(img/videocall.png);
    background-size: 100%;
}

.partners{
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    /* margin-top: 100px; */
    display: flex; 
    justify-content: space-around;
    align-items: center;  
    flex-direction: column;
}

.ourpartn{
    font-size: 2.5vw;   
    margin-block-end: 0px;
}

.partner{
    width: 14vw;
    height: 14vw;
}

.slide{
    width: 5vw;
}

footer{
    background-color: #3D536D;
    padding-top: 5vw;
    padding-bottom: 2vw;
    width: 100%;
}

.forcolumn{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.text{
    font-size: 1.5vw;
    font-weight: 700;
    margin-top: 0.9vw;
    margin-block-end: 0.5vw;
}

.site{
    font-size: 1.5vw;
    font-weight: 500;
    margin: 0;
    margin-top: 3vw;
}

.logotip{
    width: 11vw;
    height: 10vw;
}

.info{
    font-size: 1.5vw;
    margin-bottom: 0;
}

.column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.contact{
    margin-top: 1vw;
    display: flex;   
    align-items: center;
}

.logo{
    width: 2vw;
    margin-right: 10px;
}

.information{
    font-size: 1.5vw;   
    margin: 0;
}

.payment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment>img{
    padding:  0 5px;
}

.card{
    width: 3vw;
    height: 3vw;
}

.links{
    display: flex;
    align-items: center;
}

.link{
    width: 3.5vw;
    padding:0 3px ;
}

.post-wrapper {
    position: relative;
    /* margin: 200px 0; */
    /* padding: 0 50px; */
    margin: 10vw 0;
    padding: 0 3vw;
}

.post-wrapper::before {
    position: absolute;
    content: '';
    background-color: #F1C057;
    width: 100vw;
    /* height: 600px; */
    height: 31vw;

    z-index: 0;
    /* top: -142px; */
    top: -7.5vw;
    left: 0;
    transform: translateX(-25%);
}

.post {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /* max-width: 1120px; */
    max-width: 62vw;

    width: 100%;
    z-index: 100;
}

.post > * {
    z-index: 100;
}

.post-text {
    width: 50%;
    /* padding: 0 80px; */
    padding: 0 4vw;
    box-sizing: border-box;
}

.post-text > h5 {
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-text > p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
}

.post-text>div{
    width: 100%;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1vw;
}

.post-image {
    /* width: 50%;
    height: 500px; */
    width: 31vw;
    height: 27vw;
    /* margin-bottom: 5vw; */
}

.post-1 {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    /* max-width: 1120px; */
    max-width: 62vw;
    width: 100%;
    z-index: 100;
}

.post-text-1 {
    width: 50%;
    /* padding: 0 80px; */
    padding: 0 4vw;
    /* box-sizing: border-box; */
}

.post-wrapper-1::after {
    position: absolute;
    content: '';
    background-color: #7D77B8;
    width: 75%;
    /* height: 600px; */
    height: 31vw;
    z-index: 0;
    /* top: -142px; */
    top: -7.5vw;
    left: 25%;
    /* transform: translateX(25%); */
}

.post-1 > * {
    z-index: 100;
}

.post-text-1 > h5 {
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-text-1 > p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
}

.post-wrapper-1 {
    position: relative;
    /* margin: 200px 0;
    padding: 0 50px; */
    margin: 10vw 0;
    padding: 0 3vw;
}

.post-image-1 {
    /* width: 50%;
    height: 500px; */
    width: 31vw;
    height: 27vw;
    
}

.post-text-1>div{
    width: 100%;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1vw;

}





